body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  form{
    display: flex;
    justify-content: center;
    width: 500px;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title{
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .img{
    width: 150px;
    height: 100px;
  }
  .joinText{
    color: gray;
  }
  button{
    width: 485px;
    height: 40px;
  }
  .agree{
    color: black;
    text-decoration: none;
  }