html{box-sizing: border-box;list-style:none;}
body {background: #f5f5f5;padding:2%;}
.listbox{border:1px solid #ddd;padding:50px;overflow-y:scroll;}
.listbox>p{padding-left:20px;}
h1{color:gray;}
h2{padding-left:10px;}
a{text-decoration:none;color:#000;}

.notice{width:900px;height:600px;padding:50px;}
.notice_box{width:900px;height:700px;border:1px solid #000;}
.notice>li>ul{width:800px;height:50px;border-bottom:1px solid #000;}
.notice_title {background:#2BAE66; color:#fff;}
.notice-child li{float:left;height:50px; text-align:center;line-height:50px;}
.notice_list:hover{background:#FCF6F5;}
.notice-child li:first-child{width:50px;}
.notice-child li:nth-child(2){width:450px;}
.notice-child li:nth-child(3){width:150px;}
.notice-child li:last-child{width:100px;}
.pagination{margin-left:235px;margin-top:20px;width:330px;height:40px;}
.pagination a {color:black;float: left;padding: 8px 16px;transition: background-color .3s;}
.pagination a.active {background-color:#2BAE66;color: white;}
.pagination a:hover:not(.active) {background-color: #2BAE66; color:#fff}