
.hyunHBody{
    display: flex;
  }
  .blackboard_image {
    /* position: relative; */
    background-image: url(../img/칠판-100_700x400.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .textContainer{
    display: inline-block;
    text-align: center;
    width: 700px;
    height: 400px;
  }
  .blackboard_image_text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% ); */
    color: white;

  }
  .canvas-wrap{
    width:700px;
    height:550px;
    overflow:hidden;
    font-size: medium;
   }
   .mainGraph{
    margin-top: 500px;
   }