.tool *{
    text-decoration:none;
  }
  .suljungtool h5,p{
    margin:0;
    padding:0;
  }
  
  ul,li,ol{
    list-style:none;
    margin:0;
    padding:0;
  }
  
  .appContainer{
    position:relative;
  }
  
  /* 디폴트 */
  
  .innerCont h3{
    padding:0;
    margin:0;
  }
  .bodyContainer{
    display: inline-flex;
    justify-content: center;
      background-color:white;
      width: 700px;
      height: 900px;
      margin-left: 130px;
  }
  
  .appContainer{
    display: inline-block;
    justify-content: center;
    width:100%;
    height: 100%;
    /* background-color: #F0F4F3; */
  }
  
  .appHeader{
    height:80px;
    /* border-bottom:6px solid #838383; */
  /*   background-color:red; */
    padding:30px 0px 20px 20px;
    position:relative;
  }
  
  .appHeader h5{
    font-size:16px;
    padding-bottom:8px;
  }
  
  .appHeader span{
    font-size:13px;
    padding-top:10px;
    border-bottom:1px solid;
  }
  
  .appHeader strong{
    position: absolute;
    width: 2.5%;
    height: 35%;
    top: 5%;
    right: 8%;
  }
  
  
  .onen li{
    border-bottom:1px solid #838383;
  }
  
  .onen li .inner span{
    display:block;
  }
  
  
  .accept{
    height:160px;
  }
  
  .alarm{
    height:80px;
  }
  
  .innerCont{
    padding:25px 20px;
  }
  
  .innerCont h3{
    padding:8px 0px;
  }
  
  .innerCont span{
    padding:8px 0px;
  }
  
  
  .setUpBottom{
    height:50px;
    /* background-color:#F0F5F5; */
    padding:20px 20px;
    margin-top: 350px;
  }
  
  .setUpBottom h4{
    color:#20D6F6;
    line-height:15px;
    letter-spacing:-1px;
  }
  
  .setUpBottom strong{
    border-bottom:1px solid;
  }